
<p>The Server Component </p>
<!--
     String interpolation must return a string at the end or something
     which can be converted to the string 
     You cannot add block statement here nor you can add the if condition
     although you could easily use the ternary operator over here 
-->

<!--  [] to bind some property -->
<p 
  [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]= "{online: serverStatus === 'online'}"
>
     {{' Server '}}The Server Component with id {{serverId}} is {{serverStatus}} {{getServerStatus()}}
</p>